#Fichier .gitignore afin de lister tous les fichiers générés automatiquement dont il n'est pas nécessaire de constater les
#changements avec Git.

# no .o or .a files
*.[oa]

#temporary files
*~

# ignore all .out files in the doc/ directory
test/**/*.out

.DS_Store



